rq==1.1.0
redis==3.3.11
geoip2==2.9.0
pyaml==19.4.1
pycryptodome==3.9.0
ecdsa==0.13.3
certifi==2019.9.11 
requests==2.22.0
cryptography==2.8
pyopenssl==19.1.0
idna==2.8
git+https://github.com/rthalley/dnspython.git
